@import "../global/global.css";

.bingeflix-target {
  background-color: var(--accent);
  animation: shake 150ms ease alternate;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  25% {
    transform: translateX(-1rem);
    transform: rotate(-6deg);
  }
  50% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  75% {
    transform: translateX(1rem);
    transform: rotate(6deg);
  }
  100% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
}
